<!--
<img src="wcroc.png" class="img-responsive bg-img">
<br>

<button *ngFor="let bed of beds" [routerLink]="['/flowers']" type="button" class="btn btn-color btn-block">{{ bed }}</button>
<br>

<link href='//fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
<style>
    .btn-color {
        background-color: floralwhite;
        border: 1px solid rgb(0, 77, 0);
        color: rgb(0, 77, 0);
        font-family: 'Open Sans';
    }
    .bg-img {
        width: 100%;
        z-index: auto;
    }
</style>
-->