<img src="wcroc.png" class="img-responsive img-rounded">
<br>

<button [routerLink]="['/flowers']" type="button" class="btn btn-primary btn-block">Bed 1</button>
<br>
<button [routerLink]="['/flowers']" type="button" class="btn btn-primary btn-block">Bed 2</button>
<br>
<button [routerLink]="['/flowers']" type="button" class="btn btn-primary btn-block">Bed 3</button>
<br>
<button [routerLink]="['/flowers']" type="button" class="btn btn-primary btn-block">Bed 4</button>
<br>
<button [routerLink]="['/flowers']" type="button" class="btn btn-primary btn-block">Bed 5</button>
<br>
<button [routerLink]="['/flowers']" type="button" class="btn btn-primary btn-block">Bed 6</button>
<br>
<button [routerLink]="['/flowers']" type="button" class="btn btn-primary btn-block">Bed 7</button>
<br>
<button [routerLink]="['/flowers']" type="button" class="btn btn-primary btn-block">Bed 8</button>
<br>
<button [routerLink]="['/flowers']" type="button" class="btn btn-primary btn-block">Bed 9</button>
<br>
<button [routerLink]="['/flowers']" type="button" class="btn btn-primary btn-block">Bed 10</button>
<br>
<button [routerLink]="['/flowers']" type="button" class="btn btn-primary btn-block">Bed 11</button>
<br>
<button [routerLink]="['/flowers']" type="button" class="btn btn-primary btn-block">Bed 12</button>
<br>
